<h3>Изменить страну</h3>
<%= form_for( :state, url: state_path(@state), method: :patch) do |f| %>
  <% @form=f %>
  <%= render 'edit_new' %>

  <p>
    <%= f.submit('Запомнить', {:class => 'btn btn-warning'}) %>
    <%= link_to 'Отмена', states_path, :class => 'btn btn-outline-primary'  %>
  </p>
<% end %>